.bg-custom {
	background: #6a1b9a;
}

.navbar .nav-item .nav-link {
	font-size: 20px;
	color: white;
}

.navbar-custom .nav-item:hover .nav-link {
	background: white;
	color: black;
	border-radius: 10px;
}

.div-color {
	background-image: linear-gradient(to right top, #f90a58, #ff582b, #fa9000, #dbc000,
		#a8eb12);
	height: 600px;
}